:root {
  --color-red: #d94f44;
  --color-yellow: #f7b731;
  --color-brown: #a67c52;
  --dark-background: #1e1e1e;
  --light-background: #e0e0e0;
  --card-background: #2a2a2a;
  --input-background: #3c3c3c;
  --text-light: #ffffff;
  --text-secondary: #a0a0a0;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--light-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  flex-direction: column;
  gap: 20px;
}

.title {
  text-align: center;
  color: var(--text-light);
  font-size: 1.5rem;
  color: var(--color-yellow);
}

.form-container {
  background-color: var(--card-background);
  padding: 40px 50px;
  margin-top: 20px;
  border-radius: 16px;
  width: 380px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

#back-home {
  background-color: #a67c52;
}

#back-home:hover {
  background-color: var(--color-yellow);
}

#delete-all-btn {
  background-color: var(--color-red);
  width: 100%;
  padding: 14px;
  background-color: var(--color-red);
  border: none;
  border-radius: 8px;
  color: var(--text-light);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}


.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 90px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-title {
  text-align: center;
  color: var(--text-light);
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 0 25px 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  color: var(--color-yellow);
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.search-container {
  gap: 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.search-container input {
  width: 100%;
  padding: 12px;
  background-color: var(--input-background);
  border: 1px solid #555;
  border-radius: 8px;
  color: var(--text-light);
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search-container input:focus {
  outline: none;
  border-color: var(--color-yellow);
  box-shadow: 0 0 0 3px rgba(247, 183, 49, 0.2);
}

.form-group input {
  width: 100%;
  padding: 12px;
  background-color: var(--input-background);
  border: 1px solid #555;
  border-radius: 8px;
  color: var(--text-light);
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
  outline: none;
  border-color: var(--color-yellow);
  box-shadow: 0 0 0 3px rgba(247, 183, 49, 0.2);
}

.submit-button {
  width: 100%;
  padding: 14px;
  background-color: var(--color-red);
  border: none;
  border-radius: 8px;
  color: var(--text-light);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.submit-button a {
  text-decoration: none;
  color: var(--text-light);
}

.submit-button:hover {
  background-color: #e76459;
}

.toggle-form-text {
  text-align: center;
  margin-top: 25px;
  font-size: 0.95rem;
  color: var(--text-secondary);
}

.toggle-link {
  color: var(--color-yellow);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.toggle-link:hover {
  text-decoration: underline;
}

.user-list-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  color: var(--text-light);
}

.delete-btn {
  background-color: var(--color-red);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

h3 {
  color: var(--text-light);
  text-align: center;
  padding: 0;
}